
<a href="/doctor/new">New Doctor</a>
<div class="container">
  <h2><%= title %></h2>
  <ul>
    <% doctors.forEach(user => { %>
      <li>
        <%= user.name %>
        <%= user.surname %>
        <%= user.email %>
        <%= user.professional.collegiate %>
        <%= user.professional.speciality %>

        <button data-target="edit-doctor" class="btn modal-trigger">Edit</button>

        <a href="/<%= user._id %>/delete">Delete</a>

        <%- include('./edit-doctor', {user})%>

    <%  }) %>
  </ul>
</div>
