<div class="container">
  <div class="row valign-wrapper">
    <section class="col s6 row">
      <div class="col s6">
        <h4><%= title.toUpperCase() %></h4>
      </div>
      <div class="col s1"></div>
      <div class="input-field col s5">
        <input id="search" type="text" class="validate">
        <label for="search">Search</label>
      </div>
    </section>
    <section class="col s6 offset-l2 row">
      <button data-target="new-doctor" class="btn modal-trigger teal lighten-2 right">New</button>
      <%- include('./new-doctor')%>
    </section>
  </div>
    <table class="responsive-table">
      <thead>
        <tr>
          <th>NAME</th>
          <th>SPECIALITY</th>
          <th>COLLEGIATE</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
      </thead>
      <tbody>
        <% doctors.forEach(user => { %>
          <tr>
            <td><%= user.name %><span> <%= user.surname %></span></td>
            <td><%= user.professional.speciality %></td>
            <td><%= user.professional.collegiate %></td>
            <td class="width-fix">
            <a class="icon-color icon-table modal-trigger" href="#<%= user._id%>">
              <i class="small material-icons">edit</i>
            </a>
            <%- include('./edit-doctor', {user})%>
            </td>
            <td class="width-fix">
              <a class="icon-color-red icon-table" href="/<%= user._id %>/delete">
                <i class="small material-icons">delete</i>
              </a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </div>
  </table>
