
<a href="/doctor/new">New Doctor</a>

<ul>
  <% doctors.forEach(doctor => { %>
    <li>
      <%= doctor.name %>
      <%= doctor.surname %>
      <%= doctor.email %>
      <%= doctor.professional.collegiate %>
      <%= doctor.professional.speciality %>
      <a href="/doctor/<%= doctor._id %>/edit">Edit</a>
      <a href="/<%= doctor._id %>/delete">Delete</a>
    </li>
  <%  }) %>
</ul>
