
<a href="/doctor/new">New Doctor</a>
<div class="container">
  <h2><%= title %></h2>
  <ul>
    <% doctors.forEach(user => { %>
      <li>
        <%= user.name %>
        <%= user.surname %>
        <%= user.email %>
        <%= user.professional.collegiate %>
        <%= user.professional.speciality %>

        <button data-target="edit-doctor" class="btn modal-trigger">Edit</button>

        <a href="/<%= user._id %>/delete">Delete</a>
          <div id="edit-doctor" class="modal">
            <div class="modal-content">
              <%- include("./edit-doctor", { user }) %>
            </div>
            <div class="modal-footer">
              <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Edit</a>
            </div>
          </div>
      </li>
    <%  }) %>
  </ul>
</div>
