<div class="container">
  <div class="row valign-wrapper">
    <section class="col l6">
      <h2><%= title %></h2>
    </section>
    <section class="col l6 offset-l6">
      <a class="waves-effect waves-light btn" href="/doctor/new">New</a>
    </section>
  </div>
  <table>
    <thead>
      <tr>
        <th>NAME</th>
        <th>SPECIALITY</th>
        <th>MEDICAL IDENTITY</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% doctors.forEach(user => { %>
    <tbody>
        <td><%= user.name %><span> <%= user.surname %></span></td>
        <td><%= user.professional.speciality %></td>
        <td><%= user.professional.collegiate %></td>

        <td>
          <button data-target="edit-doctor" class="btn modal-trigger">
          <i class="large material-icons">edit</i>
          </button>
            <%- include('./edit-doctor', {user})%>
        <td>
        <td>
          <form action="/<%= user._id %>/delete" method="get">
            <button data-target="delete-doctor" class="btn modal-trigger red">
              <i class="large material-icons">delete</i>
            </button>
          </form>
        </td>
    </tbody>
    <%  }) %>
  </div>
</table>
