<div id="edit-doctor" class="modal">
  <div class="modal-content">
    <form action="/doctor/<%= user._id %>/edit" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= user.name %>">

      <label for="surname">Surname</label>
      <input type="text" name="surname" id="surname" value="<%= user.surname %>">

      <label for="email">Email</label>
      <input type="email" name="email" id="email" value="<%= user.email %>">

      <label for="speciality">Speciality</label>
      <select name="speciality">
        <option value="Cardiology">Cardiology</option>
        <option value="Geriatric">Geriatric</option>
        <option value="Neurology">Neurology</option>
        <option value="Pediatric">Pediatric</option>
        <option value="Physical Medicine">Physical Medicine</option>
        <option value="Psychiatry">Psychiatry</option>
        <option value="Dentist">Dentist</option>
        <option value="General Practice">General Practice</option>
      </select>

      <% if(typeof errorMessage !== 'undefined') {%>
          <%= errorMessage %>
      <% } %>

      <div class="modal-footer">
      <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Edit</button>
      </div>
    </form>
  </div>
</div>
