<% reports.forEach(report => { %>
  <% if(report.pathologyId.toString() == patho._id.toString()) { %>
    <div class="section row">
      <div class="col s2">
        <h6><b><%= report.updatedAt.toDateString() %></b></h6>
      </div>
      <div class="col s3">
        <span class="report-<%= patho._id %>"><%= report.symptoms %></span>
      </div>
      <div class="col s4">
        <span class="report-<%= patho._id %>"><%= report.consultyWork %></span>
      </div>
      <div class="col s3">
        <span class="report-<%= patho._id %>"><%= report.treatment %></span>
      </div>
    </div>
    <div class="divider"></div>
  <% } %>
<% }) %>