<% reports.forEach(report => { %>
  <% if(report.pathologyId.toString() == patho._id.toString()) { %>
    <div class="section">
      <h6><b><%= report.updatedAt.toDateString() %></b></h6>
      <span class="report-<%= patho._id %>"><%= report.treatment %></span>
      <span class="report-<%= patho._id %>"><%= report.symptoms %></span>
      <span class="report-<%= patho._id %>"><%= report.contultyWork %></span>
    </div>
    <div class="divider"></div>
  <% } %>
<% }) %>