<h2><%= patient.name %> <%=patient.surname %></h2>
<ul>
  <% pathos.forEach(patho => { %>
    <li>
      <%= patho.name %>
      <a href="/<%= patho._id %>/report/new %>">New report</a>
    </li>
    <%  }) %>
  </ul>
  <a href="/<%= patient._id %>/report/new">New Report && Pathology</a>