<a href="/patient/new">Add New Patient</a>

<ul>
  <% patients.forEach(patient => { %>
    <li>
      <%= patient.name %>
      <%= patient.surname %>
      <%= patient.addess %>
      <%= patient.phone %>

      <a href="/<%= patient._id %>/history">History</a> |
      <a href="/<%= patient._id %>/report/new">New Report</a> |
      <a href="/patient/<%= patient._id %>/edit">Edit</a> |
      <a href="/<%= patient._id %>/delete/">Delete</a>
    </li>
  <%  }) %>
</ul>
