<div class="container">
<div class="row valign-wrapper">
  <section class="col l6">
    <h2><%= title %></h2>
  </section>
  <section class="col l6 offset-l6">
    <button data-target="new-patient" class="btn modal-trigger">New</button>
    <%- include('./new-patient')%>
  </section>
</div>

<table>
  <thead>
    <tr>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>CONTACT PHONE</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% patients.forEach(patient => { %>
    <tbody>
      <td><%= patient.name %><span> <%= patient.surname %></span></td>
      <td><%= patient.email %></td>
      <td><%= patient.contact.phone %></td>
      <td><a href="/<%= patient._id %>/history">History</a></td>
      <td><a href="/<%= patient._id %>/report/new">New Report</a></td>
      <td><a href="/patient/<%= patient._id %>/edit">Edit</a></td>
  <%  }) %>
  </tbody>
</table>



</div>
