<div class="container">
<div class="row valign-wrapper">
  <section class="col l6">
    <h2><%= title %></h2>
  </section>
  <section class="col l6 offset-l6">
    <button data-target="new-patient" class="btn modal-trigger">New</button>
    <%- include('./new-patient')%>
  </section>
</div>

<table>
  <thead>
    <tr>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>CONTACT PHONE</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% patients.forEach(user => { %>
    <tbody>
      <td><%= user.name %><span> <%= user.surname %></span></td>
      <td><%= user.email %></td>
      <td><%= user.contact.phone %></td>
      <td><a href="/<%= user._id %>/history">History</a></td>
      <td>

      <button data-target="edit-patient" class="btn modal-trigger">
      <i class="large material-icons">edit</i>
      </button>
        <%- include('./edit-patient', {user})%>
    </td>
  <%  }) %>
  </tbody>
</table>



</div>
