<div class="row">
  <div class="col s4">
    <h5>Contact data</h5>
    <div class="card-panel">
      <p><b>Id Card</b>: <%= patient.idCard %></p>
      <p><b>Address</b>: <%= patient.contact.address %></p>
      <p><b>Phone</b>: <%= patient.contact.phone %></p>
      <p><b>Email</b>: <%= patient.email %></p>
    </div>
  </div>
  <div class="col s4">
    <h5>Personal data</h5>
    <div class="card-panel">
      <p><b>Age</b>: <%= age %></p>
      <p><b>Gender</b>: <%= patient.personaldata.gender %></p>
      <p><b>Height</b>: <%= patient.personaldata.height %></p>
      <p><b>Weight</b>: <%= patient.personaldata.weight %></p>
    </div>
  </div>
  <div class="col s4">
    <h5>Notes</h5>
    <div class="card-panel"></div>
  </div>
  <div class="row">
    <div class="col s12">
      <h5>Background</h5>
      <div class="card-panel"></div>
    </div>
  </div>
<div class="row">
  <div class="col s12">
    <h5>Pathologies</h5>
    <%- include('./pathologies', { pathos }) %>
  </div>
</div>